.article{
  position:relative;
  top:150px;
}

.title{
  position:relative;
  top:10px;
}

.subtitle{
  position:relative;
  top:-55px;
}

.install{
  position:relative;
  top:-50px;
}

.templates{
  position:relative;
  top:-100px;
}